@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
body {
  font-family: "red hat display", sans-serif;
  background-color: hsl(225, 100%, 94%);
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  text-align: center;
  margin: 0;
}
@media (max-width: 500px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
  }
}
h2 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}
p {
  color: hsl(224, 23%, 55%);
  padding: 0 25px 0 25px;
  font-size: 16px;
}
.plan {
  text-align: left;
  float: left;
}
.change {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  font-size: 14px;
  position: relative;
  top: 12px;
  left: 15px;
}
.plan-box {
  background-color: hsl(225, 100%, 98%);
  width: 90%;
  margin: 0 auto;
  height: 60px;
  padding-top: 12px;
  border-radius: 15px;
}
.actual-plan {
  color: hsl(223, 47%, 23%);
  font-weight: 700;
  font-size: 16px;
}
.price {
  color: hsl(224, 23%, 55%);
  font-size: 14px;
}
.icon {
  padding: 0 5px 0 5px;
  float: left;
}
.bg-image {
  width: 100%;
  margin: 0;
  z-index: -1;
}
.hero-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card {
  z-index: 1;
  width: 300px;
  background-color: #fff;
  margin: 100px auto 0 auto;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 1px hsl(255, 0%, 50%);
}

.btn {
  border: none;
  font-weight: 700;
  padding: 15px;
  width: 90%;
  margin-top: 10px;

  border-radius: 10px;
}
.cancel {
  background-color: #fff;
  color: hsl(224, 23%, 55%);
  margin-bottom: 15px;
}
.proceed {
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  box-shadow: 5px 5px 5px 0.1px #aaa;
}
.change:hover {
  text-decoration: none;
}
.cancel:hover {
  color: hsl(223, 47%, 23%);
}
.proceed:hover {
  box-shadow: none;
  background-color: hsl(228, 45%, 44%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
